<!-- {{ if and .Site.DisqusShortname (index .Params "comments" | default "true") (not .Site.IsServer) }}
<section class="comments">
	{{ template "_internal/disqus.html" . }}
</section>
{{ end }}

-->

<!--在需要添加评论框的地方插入下面的 section 标签-->
<section id="isso-thread"></section>
<!--然后引入 embed.min.js 插件-->
<script data-isso="/isso/"
        data-isso-require-author="false"
        data-isso-require-email="false"
        data-isso-max-comments-top="20"
        data-isso-max-comments-nested="10"
        data-isso-reveal-on-click="20"
        src="https://www.suosuoli.cn/js/embed.min.js"></script>

